language: node_js
node_js:
  - "8"

cache:
  directories:
    - "node_modules"

before_script:
  - npm i -g npm
  - npm run setup
  - npm run build

script:
  - npm run test

after_success:
